{% extends layout %}

{% form_theme form 'Form/form.twig' %}

{% block content_title %}Ajouter un site{% endblock %}

{% block content %}
    <form action="{{ path('homepage') }}" method="post" class="well">
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-info">Ajouter</button>
    </form>

    <h3>Sites</h3>
    <p class="alert alert-info">Ces informations ne concernent que la racine du serveur.</p>

    {% include 'sites-infos.twig' %}
{% endblock %}

