{% extends layout %}

{% form_theme form 'Form/form.twig' %}

{% block content_title %}Pentests{% endblock %}

{% block content %}

<div id="start-pentest">
    <form id="start-pentest-form" action="" method="post" class="well">
        <div id="pentest-inputs">
            {{ form_widget(form) }}

            <button type="submit" id="submit-pentest" class="btn btn-info">Démarrer</button>
        </div>

        <div id="messages">
        </div>

        <div style="clear: both"></div>
    </form>


</div>

<h3>En cours d'exécution</h3>
<div id="running-commands" class="accordion"></div>

{% endblock %}