{% extends layout %}

{% form_theme form 'Form/form.twig' %}

{% block content_title %}Programmer un pentest{% endblock %}

{% block content %}

    <form action="{{ path('new') }}" method="post" class="well">
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-info">Programmer</button>
    </form>

{% endblock %}